body {
    background-color: rgb(220, 189, 255);
}
#ifElse{
    margin: 20px 10px;
    line-height: 30px;
}
#cycles{
    margin: 20px 10px;
    line-height: 30px;       
}
#functionTask{
    margin: 20px 10px;
    line-height: 25px;
}
.picture{
    display: flex;   
    justify-content: space-between;
    padding: 25px 25px;
}
.red{
    color: red;
}
.black{
    color: black;
}
#secondDay{
    margin: 20px 10px;
    line-height: 15px;
}
#thirdDay{
    margin: 20px 10px;
    line-height: 20px;
}